<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="{{pkgname}}"
    android:versionCode="1"
    android:versionName="0.1">

    <uses-sdk android:minSdkVersion="21"
          android:targetSdkVersion="27"
          android:maxSdkVersion="31" />

    <application android:label="{{appname}}">

        <activity
            android:theme="@style/AppTheme"
            android:name=".MainActivity"
            android:label="{{appname}}" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>
</manifest>
